.button{
    background-color: rgb(50, 20, 130);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }